<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        displayDetailsOnPhpunitDeprecations="true"
        displayDetailsOnSkippedTests="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
        displayDetailsOnTestsThatTriggerErrors="true"
        displayDetailsOnTestsThatTriggerNotices="true"
        displayDetailsOnTestsThatTriggerWarnings="true"
        displayDetailsOnIncompleteTests="true"
        failOnWarning="true"
        failOnNotice="true"
        failOnDeprecation="true"
        failOnPhpunitDeprecation="true"
>
  <testsuites>
    <testsuite name="laminas-navigation Test Suite">
      <directory>./test/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>disable</group>
    </exclude>
  </groups>
  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
